npm-debug.log
*DS_Store

backend/config*
backend/node_modules/*
backend/sentistrength/*
backend/named-entity/*
backend/documents/*

backend_express/config*
backend_express/node_modules/*
backend_express/mongo_dump/*
backend_express/cert.pem
backend_express/key.pem