<?xml version="1.0" encoding="UTF-8" ?>
<Module>
    <!-- /*
 * Copyright (c) 2011 Google Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy
 * of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */ -->
  <ModulePrefs title="Starter App">
    <Require feature="rpc"/>
    <Require feature="views"/>
  </ModulePrefs>
  <Content type="html"><![CDATA[
  		<script type="text/javascript" src="//www.google.com/jsapi"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
 			<script type="text/javascript"
      	src="//hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js?v=1.4"></script>
      <link rel="stylesheet" href="//lmccart-fixus.appspot.com/static/style.css" type="text/css" media="screen, projection">

      <script src="//lmccart-fixus.appspot.com/static/localStorageDB/localstoragedb.min.js"></script>
      <script src="//lmccart-fixus.appspot.com/static/statsHandler.js"></script>
      <script src="//lmccart-fixus.appspot.com/static/LIWC.js"></script>
      <script src="//lmccart-fixus.appspot.com/static/parser.js"></script>
      <script src="//lmccart-fixus.appspot.com/static/speech.js"></script>
      <script src="//lmccart-fixus.appspot.com/static/hangout.js"></script>

      <div class="browser-landing" id="main">
        <div class="compact marquee">
<style>
.debug {
  padding: 15px;
  font-family: sans-serif;
  color: white;
  background-color: rgb(143, 200, 209);
}
.leftColumn {
  width: 50%;
  float: left;
}
.rightColumn {
  width: 50%;
  float: right;
}
.container {
  overflow: auto;
  text-align: center;
}
.label {
  text-align: left;
}
.user0 {
  color: gray;
}
.user1 {
  color: white;
}
.username {
  font-size: 150%;
}
.bar {
  height: 10px;
  margin: 10px;
}
.user0.bar {
  background-color: gray;
  width: 25%;
  margin-top: -20px;
}
.user1.bar {
  background-color: white;
}
</style>

<div class="debug">
  <div class="container">
    <div class="leftColumn">
      <div id="username0" class="username user0">lauren</div>
      <div id="face0" class="face user0">:|</div>
    </div>
    <div class="rightColumn">
      <div id="username1" class="username user1">kyle</div>
      <div id="face1" class="face user1">:)</div>
    </div>
  </div>

  <div class="container">
    <div class="label">talk time</div>
    <div class="container">
      <div class="leftColumn user0 time" id="talkTime0">3:27</div>
      <div class="rightColumn user1 time" id="talkTime1">8:43</div>
    </div>
  </div>

  <div>
    <div class="label">positivity</div>
    <div>
      <div class="user1 bar"></div>
      <div class="user0 bar" id="positivityStatus"></div>
    </div>
  </div>

  <div>
    <div class="label">self absorption</div>
    <div>
      <div class="user1 bar"></div>
      <div class="user0 bar" id="selfAbsorptionStatus"></div>
    </div>
  </div>

  <div>
    <div class="label">femininity</div>
    <div>
      <div class="user1 bar"></div>
      <div class="user0 bar" id="femininityStatus"></div>
    </div>
  </div>

  <div>
    <div class="label">aggression</div>
    <div>
      <div class="user1 bar"></div>
      <div class="user0 bar" id="aggressionStatus"></div>
    </div>
  </div>
</div>

        </div>
      </div>
      <div id="feedback"></div>

    ]]></Content>
</Module>
