<?xml version="1.0" encoding="UTF-8" ?>
<Module>
    <!-- /*
 * Copyright (c) 2011 Google Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy
 * of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */ -->
  <ModulePrefs title="Starter App">
    <Require feature="rpc"/>
    <Require feature="views"/>
  </ModulePrefs>
  <Content type="html"><![CDATA[
  		<script type="text/javascript" src="//www.google.com/jsapi"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
 			<script type="text/javascript"
      	src="//hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js?v=1.4"></script>
      <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="//lmccart-fixus.appspot.com/static/style.css" type="text/css" media="screen, projection">

      <link href="//lmccart-fixus.appspot.com/static/bootstrap/bootstrap.min.css" rel="stylesheet"> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script src="//lmccart-fixus.appspot.com/static/bootstrap/tooltip.js"></script>
      <script src="//lmccart-fixus.appspot.com/static/bootstrap/popover.js"></script>
      <script src="//lmccart-fixus.appspot.com/static/bootstrap/bootstrap.min.js"></script>

      <script src="//lmccart-fixus.appspot.com/static/localStorageDB/localstoragedb.min.js"></script>
      <script src="//lmccart-fixus.appspot.com/static/statsHandler.js"></script>
      <script src="//lmccart-fixus.appspot.com/static/LIWC.js"></script>
      <script src="//lmccart-fixus.appspot.com/static/parser.js"></script>
      <script src="//lmccart-fixus.appspot.com/static/speech.js"></script>
      <script src="//lmccart-fixus.appspot.com/static/hangout.js"></script>

      <div id="fixusMain">
        <div class="fixusContainer row">
          <div class="leftColumn well">
            <div id="username0" class="username user0">me</div>
            <div id="face0" class="face user0"><img src="//lmccart-fixus.appspot.com/static/img/emoticon-neutral.png"/></div>
            <div id="talkTime0" class="user0 time">3:27</div>
          </div>
          <div class="rightColumn well">
            <div id="username1" class="username user1">you</div>
            <div id="face1" class="face user1"><img src="//lmccart-fixus.appspot.com/static/img/emoticon-happy.png"/></div>
            <div id="talkTime1" class="user1 time">8:43</div>
          </div>
        </div>

        <div class="fixusContainer">
          <div class="fixusLabel"><a href="#" id="positivity-popover" class="btn btn-link" rel="popover" data-content="Positivity is based on how many positive words you say." data-original-title="Positivity">Positivity</a></div>
          <div class="bar-outside">
            <div class="bar-inside" id="category-posemo"></div>
          </div>
        </div>

        <div class="fixusContainer">
          <div class="fixusLabel"><a href="#" id="self-absorption-popover" class="btn btn-link" rel="popover" data-content="Self absorption is based on how much you use first person pronouns compared." data-original-title="Self absorption">Self absorption</a></div>
          <div class="bar-outside">
            <div class="bar-inside" id="category-i"></div>
          </div>
        </div>

        <div class="fixusContainer">
          <div class="fixusLabel"><a href="#" id="femininity-popover" class="btn btn-link" rel="popover" data-content="Femininity is based on a complex heuristic." data-original-title="Femininity">Femininity</a></div>
          <div class="bar-outside">
            <div class="bar-inside" id="category-feminine"></div>
          </div>
        </div>

        <div class="fixusContainer">
          <div class="fixusLabel"><a href="#" id="aggression-popover" class="btn btn-link" rel="popover" data-content="Aggression is based on a complex heuristic." data-original-title="Aggression">Aggression</a></div>
          <div class="bar-outside">
            <div class="bar-inside" id="category-aggression"></div>
          </div>
        </div>
      </div>

      <script>
      $(function () {
        $("#positivity-popover").popover();
        $("#self-absorption-popover").popover();
        $("#femininity-popover").popover();
        $("#aggression-popover").popover();
      });
      </script>

    ]]></Content>
</Module>
