#main {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: black;
  padding: .5em;
}
img {
  margin: .5em;
}
.avatar {
  width: 34px;
  height: 34px;
}
.leftColumn {
  float: left;
}
.rightColumn {
  float: right;
}
.leftColumn, .rightColumn {
  text-align: center;
  width: 48%;
}
.progress {
  margin-bottom: .5em;
}
.time {
  font-size: 150%;
}
.category {
  color: black;
  font-size: 120%;
}