#main {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: black;
  padding: .5em;
}
img {
  margin: .5em;
}
.avatar {
  width: 34px;
  height: 34px;
}
.leftColumn {
  text-align: center;
  width: 50%;
  float: left;
}
.rightColumn {
  text-align: center;
  width: 50%;
  float: right;
}
.progress {
  margin: 0;
}