<?xml version="1.0" encoding="UTF-8" ?>
<Module>
    <!-- /*
 * Copyright (c) 2011 Google Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy
 * of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */ -->
  <ModulePrefs title="Starter App">
    <Require feature="rpc"/>
    <Require feature="views"/>
  </ModulePrefs>
  <Content type="html"><![CDATA[
  		<script type="text/javascript" src="//www.google.com/jsapi"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
      <script type="text/javascript"
        src="//hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js?v=1"></script>
      <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

      <link href="//lmccart-fixus.appspot.com/static/bootstrap/bootstrap.min.css" rel="stylesheet"> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script src="//lmccart-fixus.appspot.com/static/bootstrap/tooltip.js"></script>
      <script src="//lmccart-fixus.appspot.com/static/bootstrap/popover.js"></script>
      <script src="//lmccart-fixus.appspot.com/static/bootstrap/bootstrap.min.js"></script>

      <script src="//lmccart-fixus.appspot.com/static/localStorageDB/localstoragedb.min.js"></script>
      <script src="//lmccart-fixus.appspot.com/static/statsHandler.js"></script>
      <script src="//lmccart-fixus.appspot.com/static/LIWC.js"></script>
      <script src="//lmccart-fixus.appspot.com/static/parser.js"></script>
      <script src="//lmccart-fixus.appspot.com/static/speech.js"></script>
      <script src="//lmccart-fixus.appspot.com/static/tracker.js"></script>
      <script src="//lmccart-fixus.appspot.com/static/hangout.js"></script>

      <link rel="stylesheet" href="//lmccart-fixus.appspot.com/static/style.css" type="text/css">

      <div id="main">

        <div style="display: none; visibility: hidden">
          <img src="//lmccart-fixus.appspot.com/static/img/emoticon-local-neutral.png"/>
          <img src="//lmccart-fixus.appspot.com/static/img/emoticon-local-happy.png"/>
          <img src="//lmccart-fixus.appspot.com/static/img/emoticon-local-sad.png"/>
          <img src="//lmccart-fixus.appspot.com/static/img/emoticon-other-neutral.png"/>
          <img src="//lmccart-fixus.appspot.com/static/img/emoticon-other-happy.png"/>
          <img src="//lmccart-fixus.appspot.com/static/img/emoticon-other-sad.png"/>
        </div>

        <div>
          <div class="leftColumn well">
            <div><img class="avatar" id="avatar0" src="//lmccart-fixus.appspot.com/static/img/avatar.png"/></div>
            <div><img class="face" id="face0" src="//lmccart-fixus.appspot.com/static/img/emoticon-local-neutral.png"/></div>
            <div id="talkTime0" class="time">0:00</div>
          </div>
          <div class="rightColumn well">
            <div><img class="avatar" id="avatar1" src="//lmccart-fixus.appspot.com/static/img/avatar.png"/></div>
            <div><img class="face" id="face1" src="//lmccart-fixus.appspot.com/static/img/emoticon-other-neutral.png"/></div>
            <div id="talkTime1" class="time">0:00</div>
          </div>
        </div>

        <a href="#" class="category" id="positivity-popover" rel="popover" data-trigger="hover" placement="top" data-content="Positivity is based on how many positive words you say.">Positivity</a>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;" id="category-posemo"></div>
        </div>

        <a href="#" class="category" id="self-absorption-popover" rel="popover" data-trigger="hover" placement="top" data-content="Self absorption is based on how much you use first person pronouns.">Self absorption</a>
         <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;" id="category-i"></div>
        </div>

        <a href="#" class="category" id="femininity-popover" rel="popover" data-trigger="hover" placement="top" data-content="Femininity is based on a complex heuristic that looks something like this +other+posemo+sixltr-negate-article-preps-swear-money-number.">Femininity</a>
         <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;" id="category-femininity"></div>
        </div>

        <a href="#" class="category" id="aggression-popover" rel="popover" data-trigger="hover" placement="top" data-content="Aggression is based on the number of angry and swear words you say.">Aggression</a>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;" id="category-aggression"></div>
        </div>

        <a href="#" class="category" id="honesty-popover" rel="popover" data-trigger="hover" placement="top" data-content="Honesty is based on the number of self-related pronouns and exclusive words (ex: but, without, exclude) minus the number of negative words you say.">Honesty</a>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;" id="category-honesty"></div>
        </div>

      </div>

      <script>
      $(function () {
        $("#positivity-popover").popover();
        $("#self-absorption-popover").popover();
        $("#femininity-popover").popover();
        $("#aggression-popover").popover();
        $("#honesty-popover").popover();
      });
      </script>

    ]]></Content>
</Module>
