#main {
  padding: .5em;
}
div {
  font-family: 'Lato';
  font-weight: 300;
  color: black;
}
img {
  margin: .5em;
}
.avatar {
  width: 34px;
  height: 34px;
}
.leftColumn {
  float: left;
  border-color: #4d90fe;
}
.rightColumn {
  float: right;
  border-color: #fac843;
}
.leftColumn, .rightColumn {
  text-align: center;
  width: 48%;
}
.progress {
  margin-bottom: .5em;
  background-color: #fac843;
}
.progress-bar {
  background-color: #4d90fe;  
}
.face {
  width: 64px;
  height: 64px;
}
.time {
  font-size: 150%;
}
.category {
  color: black;
  font-size: 120%;
}
a.category:link, a.category:active, a.category:visited, a.category:hover {
  color: black;
  text-decoration: none;
}

input {
  width: 30px;
  margin: 5px 0 0 10px;
  padding: 2px;
}

#debug {
  margin: 30px 0 0 10px;
}